.container {
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin: 0rem 12rem 0rem 0rem;
  padding: 3rem 5rem 5rem 5rem; 
  background-color: var(--color-background-primary);
}

.heading {
  font-family: "Aladin";
  font-size: 2.8em;
  padding: 0 0;
}

.text {
  font-family: "Poppins";
}

.repoText {
  font-family: "Poppins";
  font-weight: normal;
  margin-bottom: 15px !important;
}

.card {
  min-height: 250px;
  background-color: var(--color-background-secondary);
  border-color: var(--color-border-second);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover {
  transform: translateY(-3px);
}

@media (max-width: 1366px) {
  .card {
    min-height: 520px;
  }
}

@media (max-width: 1005px) {
  .card {
    min-height: 486px;
  }
}

@media (max-width: 899px) {
  .card {
    min-height: 450px;
  }
}

@media (max-width: 799px) {
  .card {
    width: 100%;
    min-height: 100px;
  }
}

.repoName {
  font-family: "Lato";
  margin-top: 24px !important;
  text-align: center;
  width: 100%;
}

.projectContainer {
  margin-top: 2em;
}

.projectAnchor {
  color: inherit;
  font-size: 1.6em;
}

.projectFooter {
  text-align: center;
}

.imageWrapper {
  height: 19em;
  position: relative;
}

@media (max-width: 1122px) {
  .container {
    padding: 75px 20px;
  }
}

@media (max-width: 1092px) {
  .imageWrapper {
    height: 15em;
  }
}

@media (max-width: 1032px) {
  .imageWrapper {
    height: 14em;
  }
}

@media (max-width: 978px) {
  .imageWrapper {
    height: 13em;
  }
}

@media (max-width: 902px) {
  .imageWrapper {
    height: 12em;
  }
}

@media (max-width: 839px) {
  .imageWrapper {
    height: 11em;
  }
}

@media (max-width: 799px) {
  .imageWrapper {
    height: 22em;
  }
}

@media (max-width: 743px) {
  .imageWrapper {
    height: 20em;
  }
}

@media (max-width: 681px) {
  .imageWrapper {
    height: 18em;
  }
}

@media (max-width: 622px) {
  .imageWrapper {
    height: 16em;
  }
}

@media (max-width: 562px) {
  .imageWrapper {
    height: 14em;
  }
}

@media (max-width: 499px) {
  .imageWrapper {
    height: 12em;
  }
}

@media (max-width: 439px) {
  .imageWrapper {
    height: 10em;
  }
}

@media (max-width: 380px) {
  .imageWrapper {
    height: 8em;
  }
}


/* .card {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #008000, #00e600, #b3ffb3, #00e600, #008000);
	font-family: 'Martel Sans', sans-serif;
}

h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #186218;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#AEA724 5%,
      	forestgreen 35% 65%,
      	#AEA724 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://assets.codepen.io/4787486/trees.png");
	background-size: cover;
	transition: .3s ease-in-out;
	border: 1px solid green;
}

.inset {
	max-width: 50%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}


.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
} */
